[class^='button'] {
    display: inline-flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-h3);
    border-radius: 10px;
    font-weight: 400;
}

.button__primary {
    background: var(--color-text);
    color: var(--color-background);
    padding: 0px 20px;
}

.button__secondary {
    color: var(--color-text);
    padding: 0px 20px;
}

.button__big {
    background: var(--color-accent);
    color: var(--color-background);
    padding: 10px 100px;
}

.button__vector {
    padding: 5px;
    border-radius: 100px;
    border: 2px solid var(--color-text);
    width: 49px;
    height: 49px;
}