.counterparts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
    flex-wrap: wrap;

    .button__big {
        width: 100%;
    }
}

.counterparts__card {
    display: flex;
    width: 490px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--color-card);
    box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    img {
        object-fit: cover;
        border-radius: 10px;
    }
}

.counterparts__text {
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;

    
    & > div {
        display: flex;
        justify-content: space-between;
        align-self: stretch;
        row-gap: 20px;
        flex-wrap: wrap;
        p {
            color: var(--color-text);
            font-size: var(--font-size-content);
            font-weight: 800;
            text-align: start;
            line-height: normal;
            span {
                font-size: var(--font-size-h3);
                font-weight: 400;
                display: block;
                line-height: normal;
                text-align: start;
                padding-top: 10px;
            }
        }
    }

    & > div:first-child {
        gap: 15px;
        flex-wrap: nowrap;
        align-items: center;
    }

    & > p {
        color: var(--color-text);
        line-height: normal;
    }

    h4 {
        color: var(--color-text);
        line-height: normal;
        font-size: 4.0rem;
        font-weight: 400;
    }

    h5 {
        color: var(--color-text);
        text-align: center;
        font-size: 3.6rem;
        font-weight: 300;
    }


}