.details {
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    h3 {
        width: 936px;
        // align text to the center
        text-align: center;
    }
}

.details_images {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    flex-wrap: wrap;
}