[class^='logo'] {
    display: flex;
    padding-right: 0px;
    align-items: center;
    align-content: center;
    gap: 0px 4px;
    flex-wrap: wrap;
    color: var(--color-text);
    font-size: var(--font-size-logo);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    user-select: none;
}