.progress {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;

    :first-child {
        height: 15px;
        width: 100%;
        align-self: stretch;
        border-radius: 100px;
        background: var(--color-progress-background);
    }

    :last-child {
        width: 188px;
        height: 15px;
        position: absolute;
        left: 0px;
        border-radius: 100px;
        background: var(--color-progress);
    }

}