/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #0c0f0a;

    // Couleurs du projet
    --color-card: #F2F2F2;
    --color-accent: #CB861D;
    --color-text: #042137;

    --color-progress-background: #C7D2DB;
    --color-progress: #A3670C;

    --color-background: #ECEAE8;
}
